# Importing Data from SQL Database

Step 1: Download the sample sqlite database from: http://www.sqlitetutorial.net/sqlite-sample-database/

Step 2: Use sqlite3 package to make a connection to sqlite database from the downloaded file.

Step 3: Make five different SQL queries that use commands like SELECT, WHERE, GROUP BY and JOIN (but don't limit yourself to these 4 only). You are welcome to go with more advanced queries (such as PARTITION BY, JOIN, etc.)

In [1]:
import pandas as pd
import sqlite3 as sql
#import numpy as np

In [2]:
db = 'chinook.db'

### Queries to be executed

In [3]:
query = " SELECT * customers; "

### Connect to db and create a cursor for interaction

In [4]:
# start connection
conn = sql.connect(db)
# allows you to execute queries
cur = conn.cursor()

### Execute queries previously written

In [5]:
cur.execute(query)

OperationalError: near "customers": syntax error

In [ ]:
df = pd.read_sql_query(sql=query)

### Close the connection

In [ ]:
conn.close()