In [1]:
import sqlite3
import pandas as pd

In [2]:
db = 'database_name.db'

### Write the query that will allow you to create your table

In [3]:
query = """ CREATE TABLE IF NOT EXISTS iris (
                                    sepal_length real,
                                    sepal_width real,
                                    petal_length real,
                                    petal_width real,
                                    target text
                                ); """

### Connect to your database and create a cursor that will allow you to interact with your db

In [4]:
# start connection
conn = sqlite3.connect(db)
# allows you to execute queries
cur = conn.cursor()

### Execute the query previously written

In [5]:
cur.execute(query)

### Close the connection

In [6]:
conn.close()

## Add some data to the table

In [7]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
df = pd.read_csv(url, names='sepal_length sepal_width petal_length petal_width target'.split())

In [8]:
df.target.value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: target, dtype: int64

In [9]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
query = """
    INSERT INTO iris
    (sepal_length, sepal_width, petal_length, petal_width, target)
    VALUES ({}, {}, {}, {}, '{}')
"""

### Remember: we closed the connection! Have to open it again

In [11]:
conn = sqlite3.connect(db)
cur = conn.cursor()

In [12]:
for _, row in df.iterrows():
    print(row)
    break

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
target          Iris-setosa
Name: 0, dtype: object

In [13]:
for _, row in df.iterrows():
    cur.execute(query.format(row['sepal_length'], row['sepal_width'], row['petal_length'], row['petal_width'], row['target']))

conn.commit()

### Read data from a table

In [14]:
query = """
    SELECT * 
    FROM IRIS
    WHERE TARGET='Iris-setosa'
"""
cur.execute(query)

In [15]:
cur.fetchall()

[(5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
 (4.9, 3.0, 1.4, 0.2, 'Iris-setosa'),
 (4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
 (5.0, 3.6, 1.4, 0.2, 'Iris-setosa'),
 (5.4, 3.9, 1.7, 0.4, 'Iris-setosa'),
 (4.6, 3.4, 1.4, 0.3, 'Iris-setosa'),
 (5.0, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (4.4, 2.9, 1.4, 0.2, 'Iris-setosa'),
 (4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (5.4, 3.7, 1.5, 0.2, 'Iris-setosa'),
 (4.8, 3.4, 1.6, 0.2, 'Iris-setosa'),
 (4.8, 3.0, 1.4, 0.1, 'Iris-setosa'),
 (4.3, 3.0, 1.1, 0.1, 'Iris-setosa'),
 (5.8, 4.0, 1.2, 0.2, 'Iris-setosa'),
 (5.7, 4.4, 1.5, 0.4, 'Iris-setosa'),
 (5.4, 3.9, 1.3, 0.4, 'Iris-setosa'),
 (5.1, 3.5, 1.4, 0.3, 'Iris-setosa'),
 (5.7, 3.8, 1.7, 0.3, 'Iris-setosa'),
 (5.1, 3.8, 1.5, 0.3, 'Iris-setosa'),
 (5.4, 3.4, 1.7, 0.2, 'Iris-setosa'),
 (5.1, 3.7, 1.5, 0.4, 'Iris-setosa'),
 (4.6, 3.6, 1.0, 0.2, 'Iris-setosa'),
 (5.1, 3.3, 1.7, 0.5, 'Iris-setosa'),
 (4.8, 3.4, 1.9, 0.2, 'Iris-setosa'),
 (5.0, 3.0, 1.6, 0.2, 'Iris-setosa'),
 (5.0, 3.4, 1.6, 0.4, 'Iris-setosa'),
 (5.2, 3.5, 1.5, 0.2, 'Iris-setosa'),
 (5.2, 3.4, 1.4, 0.2, 'Iris-setosa'),
 (4.7, 3.2, 1.6, 0.2, 'Iris-setosa'),
 (4.8, 3.1, 1.6, 0.2, 'Iris-setosa'),
 (5.4, 3.4, 1.5, 0.4, 'Iris-setosa'),
 (5.2, 4.1, 1.5, 0.1, 'Iris-setosa'),
 (5.5, 4.2, 1.4, 0.2, 'Iris-setosa'),
 (4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (5.0, 3.2, 1.2, 0.2, 'Iris-setosa'),
 (5.5, 3.5, 1.3, 0.2, 'Iris-setosa'),
 (4.9, 3.1, 1.5, 0.1, 'Iris-setosa'),
 (4.4, 3.0, 1.3, 0.2, 'Iris-setosa'),
 (5.1, 3.4, 1.5, 0.2, 'Iris-setosa'),
 (5.0, 3.5, 1.3, 0.3, 'Iris-setosa'),
 (4.5, 2.3, 1.3, 0.3, 'Iris-setosa'),
 (4.4, 3.2, 1.3, 0.2, 'Iris-setosa'),
 (5.0, 3.5, 1.6, 0.6, 'Iris-setosa'),
 (5.1, 3.8, 1.9, 0.4, 'Iris-setosa'),
 (4.8, 3.0, 1.4, 0.3, 'Iris-setosa'),
 (5.1, 3.8, 1.6, 0.2, 'Iris-setosa'),
 (4.6, 3.2, 1.4, 0.2, 'Iris-setosa'),
 (5.3, 3.7, 1.5, 0.2, 'Iris-setosa'),
 (5.0, 3.3, 1.4, 0.2, 'Iris-setosa')]