# Importing Data from SQL Database Using SQLAlchemy

Step 1: Download the sample sqlite database from: http://www.sqlitetutorial.net/sqlite-sample-database/

Step 2: Use sqlite3 package to make a connection to sqlite database from the downloaded file.

Step 3: Make five different SQL queries that use commands like SELECT, WHERE, GROUP BY and JOIN (but don't limit yourself to these 4 only). You are welcome to go with more advanced queries (such as PARTITION BY, JOIN, etc.)

In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///chinook.db')

### Connecting without context manager('with' statement) requires you to close connection after querries

In [2]:
con = engine.connect()


query0 = """SELECT * 
            FROM customers ;"""
q = con.execute(query0)
df = pd.DataFrame(q.fetchall())
df.columns = q.keys()
#Close the connection
con.close()

In [3]:
df.head()
print(q.keys())

['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']

### Connecting with context manager('with' statement)

In [4]:
with engine.connect() as con:
    query0 = """SELECT * 
            FROM customers ;"""
    q = con.execute(query0)
    df = pd.DataFrame(q.fetchall())
    df.columns = q.keys()

### Queries to be executed

In [5]:
# which customers have their support rep id between 3 and 4?
query0 = """SELECT * 
            FROM customers;"""

In [6]:
# which customers are either from Canada or have a yahoo email address?
query1 = """SELECT * 
            FROM customers 
            WHERE Country = 'Canada' or Email like '%yahoo%';"""

In [7]:
# which customers are from the united states? arrange them alphabetically by surname
query2 = """SELECT * 
            FROM customers 
            WHERE Country = 'USA'
            GROUP BY Lastname;"""

In [8]:
# Which London customers are in there? show only address and first names
query3 = """SELECT Address, FirstName 
            FROM customers 
            WHERE city = 'London' ;"""

In [9]:
# Which customers reside in Italy and have null value for company? Only postcode and lastname
query4 = """SELECT PostalCode, LastName 
            FROM customers 
            WHERE Country = 'Italy' AND Company = 'NULL' ;"""

In [10]:
# which customers use gmail email addresses? only last name and addresses required
query5 = """SELECT LastName, Address 
            FROM customers 
            WHERE Email LIKE '%gmail%' ;"""

In [11]:
# Which artists have an Id 100 or below?
query6 = """SELECT * 
            FROM artists
            WHERE ArtistId <= 100;"""

In [12]:
# Display the albums table
query7 = """SELECT * 
            FROM albums;"""

In [13]:
# List all artist Ids and their corresponding album titles from the artists and albums tables
query8 = """SELECT artists.ArtistId AS ArtistID, albums.Title AS Title
            FROM artists
            JOIN albums
            ON artists.ArtistId = albums.ArtistId;"""

In [14]:
# Based on customer Id, which countries have the highest purchase?
query9 = """SELECT DISTINCT BillingCountry,
            SUM(Total) OVER(PARTITION BY CustomerId) AS TotalOrderAmount
            FROM invoices ;"""

### Connect to db and create a cursor for interaction

In [15]:
# start connection
db = 'chinook.db'
conn = sql.connect(db)

# allows you to execute queries
#cur = conn.cursor()

NameError: name 'sql' is not defined

### Execute queries

In [ ]:
#cur.execute(query1)

#loop to run all queries into a dictionary of dataframes
queries = [query0, query1, query2, query3, query4, query5, query6, query7, query8, query9]
df={}

for query in queries:
    df_ = pd.read_sql_query(sql=query, con=conn) 
    df[query] = df_
    

#Close the connection
conn.close()

### Access the dataframe with specific query as key

In [ ]:
df[query0].head(5)

In [ ]:
df[query8].head()

In [ ]:
df[query1].head()